* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(82, 1, 4, 1) 0%, rgba(253, 45, 45, 1) 100%);
    height: 100vh;

    h3 {
        font-size: 24px;
    }

    a {
        color: rgb(17, 17, 17);
    }
    a:hover{
        cursor: pointer;
        color: aliceblue;
    }
    p {
        text-align: justify;
    }

    #title {
        text-align: center;
        font-size: 32px;
        color: #cacaca;
        width: 100%;
        background-color: #111111;
        position: fixed;
        top: 0;
    }

    #footer {
        font-size: 20px;
        text-align: center;
        color: #cacaca;
        width: 100%;
        background-color: #111111;
        position: fixed;
        bottom: 0;
    }
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 25px;
    }
    #mainindex{
        margin-top: 45px;
        margin-bottom: 25px;
    }
    #container {
        background-color: #111111;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 145px;
        height: 410px;

    }
    #icons-all {
        border-radius: 100%;
        background: #1d1c1c;
        margin-bottom: 10px;
        width: 35px;
        height: 35px;
    }
    #icons-all:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    #box{
        display: flex;
        align-items: center;
    }
    #box h3{
        font-size: 14px;
        font-weight: 100;
        margin-left: 5px;
        color: antiquewhite;
    }
    #explain {
        color: antiquewhite;
        background-color: #111111;
        border-radius: 25px;
        margin-right: 10px;
        padding: 50px;
        width: 400px;
        text-align: justify;
    }
    hr{
        margin-bottom: 15px;
    }
}